{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to the Tech Blog</h1>
  <p>Stay up-to-date with the latest tech news and insights.</p>
{% endblock %}

{% block footer %}
  <footer>
    <p>&copy; 2023 Tech Blog</p>
  </footer>
{% endblock %}

<!--  extends 'base.html' : This line indicates that the home.html template extends the base.html template, meaning that the home.html file will inherit all the content from the base.html file. -->


<!-- <h1>Welcome to the Tech Blog</h1>: This is an HTML heading element that displays the page's main heading. -->

<!-- <p>Stay up-to-date with the latest tech news and insights.</p>: This is an HTML paragraph element that displays a brief description of the page's purpose. -->

<!-- block footer  and endblock : These tags define a block named footer, which can be overridden by child templates. In this case, the footer block is used to display the copyright information for the website. -->

<!-- <footer><p>&copy; 2023 Tech Blog</p></footer>: This is an HTML footer element that displays the year and name of the website. The &copy; symbol represents the copyright symbol. -->

